#ext_menu-1 .navbar-toggler {
  color: #000;
}
#header1-2f H1 {
  color: #ffffff;
  text-align: center;
  font-size: 48px;
}
#testimonials1-8 .card-footer > small {
  text-align: left;
}
#testimonials1-8 .card-footer > div P {
  text-align: left;
}
#ext_menu-d .navbar-toggler {
  color: #000;
}
#msg-box3-2l .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2l .mbr-header .mbr-header__subtext {
  text-align: center;
}
#ext_menu-o .navbar-toggler {
  color: #000;
}
#ext_menu-12 .navbar-toggler {
  color: #000;
}
#msg-box4-1h .lead P {
  text-align: left;
}
#msg-box4-1h .mbr-section-title {
  text-align: left;
}
#msg-box4-1i .mbr-section-title {
  text-align: right;
}
#msg-box4-1i .lead P {
  text-align: right;
}
#msg-box4-1i .lead {
  text-align: right;
}
#msg-box4-1j .lead P {
  text-align: left;
}
#msg-box4-1j .mbr-section-title {
  text-align: left;
}
#msg-box4-1k .lead P {
  text-align: right;
}
#msg-box4-1k .mbr-section-title {
  text-align: right;
}
#msg-box4-1p .lead P {
  text-align: left;
}
#msg-box4-1p .mbr-section-title {
  text-align: left;
}
#msg-box4-1q .lead {
  text-align: right;
}
#msg-box4-1q .mbr-section-title {
  text-align: right;
}
#msg-box4-1r .lead P {
  text-align: left;
}
#msg-box4-1r .mbr-section-title {
  text-align: left;
}
#msg-box4-1s .lead P {
  text-align: right;
}
#msg-box4-1s .mbr-section-title {
  text-align: right;
}
#msg-box4-1t .lead P {
  text-align: left;
}
#msg-box4-1t .mbr-section-title {
  text-align: left;
}
#msg-box4-1u .lead P {
  text-align: right;
}
#msg-box4-1u .mbr-section-title {
  text-align: right;
}
#ext_menu-1v .navbar-toggler {
  color: #000;
}
#slider2-2h H2 {
  font-size: 36px;
}
#slider2-2h DIV {
  font-size: 46px;
}
#ext_menu-25 .navbar-toggler {
  color: #000;
}
#msg-box3-2j .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2j .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-2k .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-2k .mbr-header .mbr-header__subtext {
  text-align: center;
}
